@{
    ViewData["Title"] = "שגיאה";
}

<div class="text-center">
    <h1 class="text-danger">שגיאה</h1>
    <h2 class="text-danger">אירעה שגיאה בעת עיבוד הבקשה שלך.</h2>
    <p>אנא נסה שוב או פנה למנהל המערכת.</p>
</div>

